/data/*
!/data/mic23_predictions_original_0
!/data/mic23_predictions_original_0/PREDICTIONS/DSET015_hyperkvasir%TASK_hyperkvasir_therapeutic-interventions_miccai/**
!/data/mic23_predictions_original_0/PREDICTIONS/DSET001_lapgyn4%TASK_lapgyn4_anatomical_actions_miccai/**
!/data/mic23_predictions_original_0/PREDICTIONS/DSET001_lapgyn4%TASK_lapgyn4_surgical_actions_miccai/**
/mml.env
